body, h1, h2, h3 {
    margin: 0;
}

body{
    font-family: "Fira Code", Arial, Helvetica, sans-serif; /*essas outras fontes serão utilizadas caso a Fira Code não carregue*/
}

button{
    border: none;
    font-family: inherit;
}