.main-title{
    font-family: "Press Start 2P", sans-serif;
    font-size: 40px;
    color: #f90026;
    text-shadow: 4px 4px 0px #000000;       
}

/*não usar espaço entre o title e o second, pois isso é seletor de filho e o .title.-second não é filho da classe title, mas um elemento próprio*/
.main-title.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
}