.wrapper-skill{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

/*todo elemento que tenha a class skill-tec dentro do wrapper-skill*/
.wrapper-skill .skill-tec{
    width: 430px;
    margin-bottom: 40px;
}

/* : indica pseudo classe, enésimo filho, odd é impar*/
.wrapper-skill .skill-tec:nth-child(odd){
    margin-right: 100px;
}

.wrapper-skill .progress-bar{
    width: 320px;
}